{
	"printWidth": 100,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"proseWrap": "always",
	"endOfLine": "auto",
	"singleAttributePerLine": true
}
